#main-title {
    color: red;
    background-color: blanchedalmond;
    font-size: 45px;
}

.intro {
    color: blue;
    font-size: 20px;
}
a {
    font-size: 20px;
    background-color: lightcoral;
}

a:hover {
    background-color: lightgreen;
    color: tomato;
}